body {
  font-family: "Delicious Handrawn", cursive;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  height: 100vh;
  background-image: url(../images/bgbody.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  cursor: url(../images/fist.png), auto;
  overflow: hidden;
}

.container.animated {
  animation: shake 0.8s;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label__name,
.label__email,
.label__nickname {
  font-size: 20px;
  margin-top: 1rem;
  cursor: url(../images/fist.png), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user__name,
.user__nickname,
.user__email {
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
  border: none;
  outline: none;
  cursor: url(../images/fist.png), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* valid */
.user__name:valid,
.user__email:valid,
.user__nickname:valid {
  background-color: var(--success);
}

/* error */
.error {
  margin-top: 1rem;
  display: none;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--bg-color3);
  max-width: 40%;
  font-size: 16px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*invalid  */
.user__name:focus:invalid,
.user__email:focus:invalid,
.user__nickname:focus:invalid {
  background-color: var(--danger);
}

.user__name:focus:invalid + .error,
.user__email:focus:invalid + .error,
.user__nickname:focus:invalid + .error {
  display: block;
}

.user__name:hover,
.user__nickname:hover,
.user__email:hover {
  box-shadow: var(--box-shadow-hover);
  animation: shake 0.8s;
  cursor: url(../images/fist.png), auto;
}

.user__name::placeholder,
.user__nickname::placeholder,
.user__email::placeholder {
  user-select: none;
  -webkit-user-select: none;
}

.start__game {
  padding: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  opacity: 0.9;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  user-select: none;
  cursor: url(../images/fist.png), auto;
}

.start__game:hover {
  background-color: var(--bg-color-hover);
  box-shadow: var(--box-shadow2);
  animation: shake 0.8s;
  opacity: 1;
  color: var(--text-color-hover);
}

/* scoreboard */
.container__scoreboard {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/arena.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__menu {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  user-select: none;
}

.container__character {
  margin: 5rem auto;
  width: 35%;
  height: 60%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.svg {
  user-select: none;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__time,
.container__level,
.container__total {
  font-size: 30px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  opacity: 0.8;
  background-color: var(--bg-color2);
  cursor: url(../images/fist.png), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__time {
  width: 20%;
}

.container__total {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .container__time,
  .container__level,
  .container__total {
    padding: 2rem;
  }
}

/* modal */
.modal,
.modal__loss,
.modal__result {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal {
  z-index: 1;
  background-color: var(--bg-color3);
  transition: all 0.5s ease-in-out;
  animation: slide-in 0.5s ease-out;
}

.modal__content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  height: 50%;
  max-width: 600px;
}

.modal__levels {
  font-size: 7rem;
  text-align: center;
  color: var(--danger);
  user-select: none;
  text-transform: uppercase;
}

.modal__loss,
.modal__result {
  background-color: var(--danger);
  z-index: 22;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__info,
.modal__congratulations {
  margin: 1rem auto;
  padding: 50px;
  width: 70%;
  max-width: 600px;
  font-size: 4rem;
  text-align: center;
  color: var(--danger);
  background-color: var(--bg-color2);
  user-select: none;
  text-transform: uppercase;
  border-radius: 20px;
  border: 4px solid var(--bg-color2);
  overflow: hidden;
}

.modal__username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.modal__page {
  display: block;
  margin: 0 auto;
  background-color: var(--bg-color2);
  padding: 20px 30px;
  text-align: center;
  color: var(--danger);
  cursor: url(../images/fist.png), auto;
  user-select: none;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.modal__page:hover {
  background-color: var(--bg-color2);
  opacity: 0.6;
  color: var(--danger);
  user-select: none;
}

.modal__blood {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--danger);
  opacity: 0.6;
}

/* animation */
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  30% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  60% {
    transform: translate(5px, 0);
  }
  70% {
    transform: translate(-5px, 0);
  }
  80% {
    transform: translate(5px, 0);
  }
  90% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animation-opacity {
  0% {
    transform: opacity(0);
  }
  100% {
    transform: opacity(1);
  }
}
