body {
  overflow: hidden;
  margin: 0;
  border: none;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Delicious Handrawn", cursive;
  font-size: 16px;
  background-image: url("../images/bgbody.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  overflow: hidden;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  cursor: url("../images/fist.png"), auto;
}

.container.animated {
  animation: shake 0.8s;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label__name,
.label__email,
.label__nickname {
  margin-top: 1rem;
  font-size: 20px;
  cursor: url("../images/fist.png"), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user__name,
.user__nickname,
.user__email {
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  color: var(--main-color);
  background-color: var(--bg-color);
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
  cursor: url("../images/fist.png"), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* valid */
.user__name:valid,
.user__email:valid,
.user__nickname:valid {
  background-color: var(--success);
}

/* error */
.error {
  display: none;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 40%;
  font-size: 16px;
  color: var(--bg-color3);
  background-color: var(--main-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* invalid  */
.user__name:focus:invalid,
.user__email:focus:invalid,
.user__nickname:focus:invalid {
  background-color: var(--danger);
}

.user__name:focus:invalid + .error,
.user__email:focus:invalid + .error,
.user__nickname:focus:invalid + .error {
  display: block;
}

.user__name:hover,
.user__nickname:hover,
.user__email:hover {
  box-shadow: var(--box-shadow-hover);
  animation: shake 0.8s;
  cursor: url("../images/fist.png"), auto;
}

.user__name::placeholder,
.user__nickname::placeholder,
.user__email::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start__game {
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
  cursor: url("../images/fist.png"), auto;
  user-select: none;
}

.start__game:hover {
  box-shadow: var(--box-shadow2);
  color: var(--text-color-hover);
  background-color: var(--bg-color-hover);
  opacity: 1;
  animation: shake 0.8s;
}

/* game */
.container__scoreboard {
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/arena.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__menu {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__character {
  overflow: hidden;
  margin: 5rem auto;
  width: 35%;
  height: 60%;
  transition: all 0.5s ease-in-out;
}

.svg {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__time,
.container__level,
.container__total {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  font-size: 30px;
  text-transform: uppercase;
  background-color: var(--bg-color2);
  opacity: 0.8;
  cursor: url("../images/fist.png"), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container__time {
  width: 20%;
}

.container__total {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .container__time,
  .container__level,
  .container__total {
    padding: 2rem;
  }
}

/* modal */
.modal,
.modal__loss,
.modal__result {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.modal {
  z-index: 1;
  background-color: var(--bg-color3);
  transition: all 0.5s ease-in-out;
  animation: slide-in 0.5s ease-out;
}

.modal__content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  height: 50%;
  max-width: 600px;
}

.modal__levels {
  font-size: 7rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--danger);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__loss,
.modal__result {
  z-index: 22;
  overflow: auto;
  background-color: var(--danger);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__info,
.modal__congratulations {
  overflow: hidden;
  margin: 1rem auto;
  border: 4px solid var(--bg-color2);
  border-radius: 20px;
  padding: 50px;
  width: 70%;
  max-width: 600px;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--danger);
  background-color: var(--bg-color2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__username {
  font-size: 3rem;
  text-transform: uppercase;
}

.modal__page {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 10px;
  padding: 20px 50px;
  text-align: center;
  color: var(--danger);
  background-color: var(--bg-color2);
  transition: all 0.3s ease-in-out;
  cursor: url("../images/fist.png"), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__page:hover {
  color: var(--danger);
  background-color: var(--bg-color2);
  opacity: 0.6;
  user-select: none;
}

.modal__blood {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--danger);
  opacity: 0.6;
}

/* animation */
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5px, 0);
  }

  20% {
    transform: translate(5px, 0);
  }

  30% {
    transform: translate(-5px, 0);
  }

  40% {
    transform: translate(5px, 0);
  }

  50% {
    transform: translate(-5px, 0);
  }

  60% {
    transform: translate(5px, 0);
  }

  70% {
    transform: translate(-5px, 0);
  }

  80% {
    transform: translate(5px, 0);
  }

  90% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
