:root {
  --main-color: rgb(235, 94, 0);
  --secondary-color: rgb(82, 33, 0);
  --bg-color: rgba(61, 36, 0, 0.9);
  --box-shadow: 5px 5px 35px rgb(174, 70, 0);
  --box-shadow-hover: 15px 15px 65px rgb(204, 82, 1);
  --text-shadow: 7px 7px 8px rgb(231, 93, 0);
  --bg-color2: rgb(0, 6, 7);
  --bg-color3: rgba(0, 0, 0, 0.5);
  --box-shadow2: 20px 20px 20px #000;
  --success: rgba(93, 168, 0, 0.7);
  --danger: rgba(255, 0, 0, 0.47);
}

* {
  font-family: "Delicious Handrawn", cursive;
  font-size: 16px;
}

body {
  margin: 0;
  border: none;
  height: 100vh;
  background-image: url(images/bgbody.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  height: 100vh;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  cursor: url(images/fist.png), auto;
}
.container.animated {
  animation: shake 0.8s;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label__name,
.label__email {
  font-size: 2rem;
  margin-top: 2rem;
  text-shadow: var(--text-shadow);
  user-select: none;
  cursor: url(images/fist.png), auto;
}

.user__name,
.user__email {
  margin-top: 1rem;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
  border: none;
  outline: none;
  cursor: url(images/fist.png), auto;
}

/* valid */
.user__name:valid,
.user__email:valid {
  background-color: var(--success);
}
/* error */
.error {
  margin-top: 1rem;
  display: none;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--bg-color3);
  max-width: 40%;
  font-size: 16px;
  border-radius: 10px;
}
/*invalid  */
.user__name:focus:invalid,
.user__email:focus:invalid {
  background-color: var(--danger);
}

.user__name:focus:invalid + .error,
.user__email:focus:invalid + .error {
  display: block;
}

.user__name:hover,
.user__email:hover {
  box-shadow: var(--box-shadow-hover);
  animation: shake 0.8s;
  cursor: url(images/fist.png), auto;
}

.start__game {
  padding: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  opacity: 0.9;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  user-select: none;
  cursor: url(images/fist.png), auto;
}

.start__game:hover {
  background-color: var(--bg-color-hover);
  box-shadow: var(--box-shadow2);
  animation: shake 0.8s;
  opacity: 1;
  color: var(--text-color-hover);
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  30% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(-5px, 0);
  }
  60% {
    transform: translate(5px, 0);
  }
  70% {
    transform: translate(-5px, 0);
  }
  80% {
    transform: translate(5px, 0);
  }
  90% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* scoreboard */
.container__scoreboard {
  display: none;
  justify-content: space-between;
  color: var(--main-color);
  user-select: none;
}

.container__bonus,
.container__total {
  font-size: 40px;
  padding: 3rem;
  box-shadow: var(--box-shadow);
  user-select: none;
  text-transform: uppercase;
  opacity: 0.8;
  background-color: var(--bg-color2);
  user-select: none;
  cursor: url(images/fist.png), auto;
}

.container__bonus:hover {
  opacity: 0.6;
  background-color: var(--bg-color);
}

.container__total {
  width: 10rem;
}

@media screen and (max-width: 600px) {
  .container__bonus,
  .container__total {
    padding: 2rem;
  }
}
/* modal */
.modal,
.modal__result {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal {
  z-index: 1;
  background-color: var(--bg-color3);
  transition: all 0.5s ease-in-out;
  animation: slide-in 0.5s ease-out;
}

.modal__content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  height: 50%;
  max-width: 600px;
}

.modal__levels {
  font-size: 7rem;
  text-align: center;
  color: #ff0000;
  user-select: none;
  text-transform: uppercase;
}

@keyframes animation-opacity {
  0% {
    transform: opacity(0);
  }
  100% {
    transform: opacity(1);
  }
}

.modal__result {
  z-index: 22;
  overflow: auto;
  background-color: var(--bg-color3);
}

.modal__congratulations {
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  height: 50%;
  max-width: 600px;
  font-size: 4rem;
  text-align: center;
  color: #ff0000;
  user-select: none;
  text-transform: uppercase;
  border-radius: 10%;
}

.modal__username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}

.modal__page {
  background-color: var(--main-color);
  padding: 20px;
  color: #000;
  cursor: url(images/fist.png), auto;
}
.modal__page:hover {
  cursor: url(images/fist.png), auto;
  user-select: none;
  opacity: 0.6;
}

::placeholder {
  user-select: none;
}

.container.modal__blood {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 0, 0, 0.511);
}
